<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @town.nom %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @town.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @town.longitude %>
</p>

<p>
  <strong>Météo:</strong>
  <%= resource.currently.summary %>,
  <%= ((resource.currently.temperature - 32) * (5.0/9.0)).round(2) %>°C
</p>

<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
